<div class="oferta">
  <label for="oferta_check" class="oferta_title">{{ oferta }}</label>
  <input type="checkbox" name="oferta_check" />
  <div class="oferta_error hidden">{{ oferta_error }}</div>
</div>